<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="sample">
        <classes>
            <class name="testcases.TC001">
                <methods>
                    <include name="runCode"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="sample 1">
        <classes>
            <class name="testcases.TC002">
                <methods>
                    <include name="runCode"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>